.submit {
  width: 100%;
  height: 50px;
  padding-left: 25px;
}
.space{
    height: 100vh;
}
.carousel-caption {
    bottom: 60%;
  
      
  }
 .centeal{
    margin-left: 20%;
}
  nav{
    transition: background .5s;
  }
  .scroll-container {
    height: 70vh;
    min-height: 450px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
  }
  .scroll-element {
    min-height: 300px;
    height: 100%;
    background-color: #eaeaea;
  }
  .scroll-caption {
    margin: 1rem;
  }
  
  .scroll-element,
  .scroll-caption {
    width: 50%;
  }
  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  .scroll-element.js-scroll.slide-left.scrolled {
    height: 50vh;
    width: 50vh;
  }
  .scroll-element.js-scroll.slide-right.scrolled {
    width: 51vh;
    height: 50vh;
  }
  img {
    width: 100%;
    height: 100%;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
  .scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
  }
  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  
  
  @media screen and (max-width: 650px) {
    .scroll-container,
    .scroll-container:nth-of-type(even) {
      flex-direction: column;
      align-content: inherit;
    }
  
    .scroll-element {
      height: 100%;
    }
  
    .scroll-element,
    .scroll-caption {
      width: 100%;
    }
    .scroll-container{
      height: 85vh;
    }
  }
  
  /* time line */
  * {
    box-sizing: border-box;
  }
  
  body {
   
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: grey;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .containers {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .containers::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -12px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .containers {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .containers::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
    #copy_right{
      margin-top: 14px;
    }
  }
  .flag{
    width: 50px;
    border-radius: 50%;
  }
  .space{
    height: 200px;
  }
  
  /* Legend section */
  body {
    font-family: 'Cute Font',cursive;
  }
  
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://images.pexels.com/photos/1443657/pexels-photo-1443657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center no-repeat;
    background-size: cover; 
    color: #fff;
  }
  
  .about {
   
    display: flex;
  }
  
  .about-title {
    width: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0!important;
  }
  
  .about-pages {
    width: 70%;
   
  }
  .about-pages div{
  display: flex;
  flex-wrap: wrap;
  }
  
  
  
  
  
  
  
  
  .photo {
    width: 99px;
    margin: 15px;
    
    border-radius: 50%;
    margin-left: 29%;
    height: 100px;
  }
  
  img.card-img-top.photo1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 29%;
    margin-top: 16px;
  }
  .card{
    width: 18rem;
    margin: 23px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }
  
  .slider{
    display: flex;
    flex-wrap: wrap;
  }
  
  /* -----------------------------------------------footer----------------------------------------------------- */
  footer {
   
    display: flex;
    flex-wrap: wrap;
    background-color: #222020;
    color: white;
  }
  .left_footer {
    padding-top: 25px;
    
    padding-left: 9%;
  }
  .right_footer {
    width: 50%;
    float: right;
    
    margin-left: 97px;
    margin-top: 60px;
   
  }
  .logo{
    width: 35px;
      height: 35px;
      border-radius: 50%;
  
  }
  .location {
    display: flex;
    flex-wrap: wrap;
  }
  .location_icon {
    padding: 25px;
  }
  .location_text {
    color: whitesmoke;
    padding-top: 16px;
  }
  .location_text span{
    font-size: 1.5rem;
  }
  #copy_right{
    border-top: 1px solid white;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 40px;
  }
  .space{
    height: 100vh;
  }